[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.5"

[packages]
appdirs = "*"
ecdsa = "*"
pylibscrypt = "*"
scrypt = "*"
pycrypto = "*"
requests = "*"
urllib3 = "*"
certifi = "*"
ujson = "*"
w3lib = "*"
maya = "*"
toolz = "*"
funcy = "*"
langdetect = "*"
diff-match-patch = "*"
prettytable = "*"
voluptuous = "*"

[dev-packages]
pep8 = "*"
pytest = "*"
pytest-pylint = "*"
pytest-pylint = "*"
recommonmark = "*"
sphinxcontrib-programoutput = "*"
sphinxcontrib-restbuilder = "*"
yapf = "*"
autopep8 = "*"
sphinx = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.5"


