[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

appdirs = "*"
certifi = "*"
ecdsa = "*"
funcy = "*"
langdetect = "*"
prettytable = "*"
pycrypto = "*"
scrypt = "*"
toolz = "*"
"urllib3" = "*"
voluptuous = "*"
"w3lib" = "*"
futures = {version = "*", markers="python_version < '3.0.0'"}


[dev-packages]

ipython = "*"
"pep8" = "*"
pytest = "*"
"pytest-pep8" = "*"
pytest-console-scripts = "*"
pytest-pylint = "*"
recommonmark = "*"
yapf = "*"
"autopep8" = "*"
pytest-cov = "*"
"pytest-pep8" = "*"
#[requires]
#python_version = "3.6"
